[OSEv3:children]
masters
nodes

[OSEv3:vars]
ansible_ssh_user={{ ansible_user }}
ansible_sudo=true
debug_level=2
deployment_type=origin
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/master/htpasswd'}]
openshift_master_default_subdomain=${ROUTEREXTIP}.xip.io 
openshift_use_dnsmasq=False

[masters]
master openshift_public_hostname={{ ${HOSTNAME}

[nodes]
master

